<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %> Upload de Arquivos</h1>
    <p>Seja Bem Vindo ao:  <%= title %> Upload</p>
    <form action="/" method="post" enctype="multipart/form-data">
      <input TYPE="file" name="filetoupload"><br>
      <input type="submit">
    </form>
  </body>
</html>
